.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 40px;
}

.temp {
  position: relative;
  font-size: 10.2rem;
  line-height: 12.2rem;
  font-weight: 200;
}

.temp::after {
  content: " °";
  position: absolute;
  top: -3px;
  right: -3px;
  font-size: inherit;
  width: 10px;
  height: 10px;
}

.description {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
}

.range {
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.5rem;
  display: flex;
  gap: 10px;
}