.row {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.row:not(:last-child) {
  border-bottom: var(--border);
}

.time {
  font-size: 2.2rem;
  line-height: 2.6rem;
  width: 60px;
}

.conditions {
  text-align: center;
  line-height: 1;
}

.conditions svg {
  max-width: 20px;
}

.temp {
  width: 155px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.min,
.max {
  width: 30px;
  text-align: center;
}

.min {
  opacity: 0.5;
}

.probability {
  display: block;
  font-size: 1.2rem;
  line-height: 0.8rem;
  color: #81cffa;
}

/* Shows the range of lowest and highest 
   temperatures of the 10-day period */
.range {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.15);
  height: 4px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

/* Shows the range of lowest and highest 
     temperatures of each day in comparison 
     to the range of the whole period */
.range-meter {
  position: absolute;
  left: var(--left);
  right: var(--right);
  top: 0;
  bottom: 0;

  border-radius: 5px;
  overflow: hidden;
}

.range-meter::after {
  content: '';
  display: block;
  position: absolute;

  top: 0;
  bottom: 0;
  left: calc(-1 * var(--left));
  right: calc(-1 * var(--right));

  background: linear-gradient(to right, #96d0a7, #ef8734);
  background-size: 80px 100%;
  background-position: center;
  border-radius: 5px;
}

.row:first-child .range-current {
  width: 4px;
  height: 4px;
  border: 1px solid #888;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transform: translateX(-50%);
  left: var(--current);
  top: -1px;
  box-sizing: content-box;
}